{% load staticfiles compress require %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | King's @ London</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  {% endcompress %}
</head>
<body>
<section class="main">
    <div class="row">
        <div class="large 12-columns">
            <h3 class="kings-header" >Researching & Teaching London</h3>
            <div class="rich-text">
            <p>There are more than 280 researchers at King’s, based in every faculty, who focus on London in their work. Drawing on this research, they teach over 25 different modules, in a wide variety of disciplines, examining London as a scholarly subject. 
            </p>
            <p><a href="https://keats.kcl.ac.uk/course/view.php?id=50612">Here</a> you'll find a forum for staff and PhD students researching and teaching about London at King’s. Includes a space to share teaching resources and details of relevant events within and beyond the College, and a message board to contact other members of the network. 
            </p>
            </div>
            <h3 class="kings-header">Cabinet of Curiosities</h3>
            <div>
            <p>Research and teaching at King's explores London as a scholarly subject in a myriad of ways, some of which are highlighted through the themes below. 
            </p>
            {% for t in themes %}
            <div class="large-4 small-4 columns">
            <p>
                <a href="/landing/themes/{{ t.short_name }}" title="{{ t.name }}">
                    <img src="{{ t.main_image.url }}" height="100" width="100%"/>
                </a>
            </p>
            </div>
            {% endfor %}
            </div>
        </div> <!-- end cols -->
    </div><!-- end row -->
</section>


  {% block footer_scripts %}{% endblock %}
</body>
</html>
