{% load staticfiles compress require %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | King's @ London</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  {% endcompress %}
</head>
<body>
<section class="main">
    <div class="row">
        <div class="large 12-columns">
            <h3 class="kings-header" >{{ researcher.first_name }} {{ researcher.last_name }}</h3>
            <div class="rich-text">
            <h3 class="kings-subheader">{{ researcher.department }}, {% for l in module.level.all %}{{ l }}{% endfor %}</h3>
            <h3 class="kings-header" >Research Interests</h3>
            {% if researcher.research_interests.all.count > 0 %}
            <ul>{% for r in researcher.research_interests.all %}<li>{{ r }}</li>{% endfor %}</ul>
            {% endif %}
            {% if researcher.teaching_interests.all.count > 0 %}
            <h3 class="kings-header" >Teaching Interests</h3>
            <ul>{% for r in researcher.teaching_interests.all %}<li>{{ r }}</li>{% endfor %}</ul>
            {% endif %}
            {% if researcher.specialisms.all.count > 0 %}
            <h3 class="kings-header" >Specialisms</h3>
            <ul>{% for r in researcher.specialisms.all %}<li>{{ r }}</li>{% endfor %}</ul>
            {% endif %}
            {% if researcher.pure_url %}
            <p class="kings-header"><a href="{{ researcher.pure_url }}">KCL PURE Page &rsaquo;</a></p>
            {% endif %}
            </div>
            <h3 class="kings-header">Working Themes</h3>
            <p>{% for s in researcher.specialisms.all %} {% for t in s.theme_set.all %}
                   {% ifchanged t.name %}<a href="/landing/themes/{{ t.short_name}}"><span class="kings-header">{{ t.name }} &rsaquo;</span></a></br>
                   {% endifchanged %}{% endfor %}{% endfor %}</p>
            <div>
            <p>
            </p>
        </div> <!-- end cols -->
    </div><!-- end row -->
</section>


  {% block footer_scripts %}{% endblock %}
</body>
</html>
