{% extends "base.html" %}

{% block body %}
<section class="main">
  <div class="row">
    <div class="large-9 columns">
      <h3 class="kings-header" >{{ researcher.first_name }} {{ researcher.last_name }}</h3>

      <div class="rich-text">
        <p><strong>{{ researcher.department }}</strong></p>

        {% if researcher.notes %}
        <p>
          {{ researcher.notes|safe }}
        </p>
        {% endif %}

        {% if researcher.pure_url %}
        <p>Find contact details and research work on the
          <a href="{{ researcher.pure_url }}" target="pure">King's Research Portal &rsaquo;</a>
        </p>
        {% endif %}

        {% if researcher.research_interests.all.count > 0 %}
        <p><strong>Research Interests</strong></p>
        <ul>
          {% for r in researcher.research_interests.all %}
          <li>{{ r }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if researcher.teaching_interests.all.count > 0 %}
        <p><strong>Teaching Interests</strong></p>
        <ul>
          {% for r in researcher.teaching_interests.all %}
          <li>{{ r }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if researcher.specialisms.all.count > 0 %}
        <p><strong>Specialisms</strong></p>
        <ul>
          {% for r in researcher.specialisms.all %}
          <li>{{ r }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <p><strong>Working Themes</strong></p>
        <p>
          {% for s in researcher.get_themes %}
          {% ifchanged s.name %}
          <a href="/landing/themes/{{ s.short_name}}">{{ s.name }} &rsaquo;</a>
          {% if not forloop.last %}<br>{% endif %}
          {% endifchanged %}
          {% endfor %}
        </p>
      </div>
    </div>

    <div class="large-3 columns">
      {% if researcher.image_file %}
      <img class="researcher" src="{{ researcher.image_file.url }}" width="100%">
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
