{% extends "base.html" %}

{% block body %}
<section class="main">
  <div class="row">
    <div class="large 12-columns">
      <h3 class="kings-header" >{{ researcher.first_name }} {{ researcher.last_name }}</h3>

      <div class="rich-text">
        <h3 class="kings-subheader">{{ researcher.department }}</h3>
        <h3 class="kings-header" >Research Interests</h3>
        {% if researcher.research_interests.all.count > 0 %}
        <ul>
          {% for r in researcher.research_interests.all %}
          <li>{{ r }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if researcher.teaching_interests.all.count > 0 %}
        <h3 class="kings-header" >Teaching Interests</h3>
        <ul>
          {% for r in researcher.teaching_interests.all %}
          <li>{{ r }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if researcher.specialisms.all.count > 0 %}
        <h3 class="kings-header" >Specialisms</h3>
        <ul>
          {% for r in researcher.specialisms.all %}
          <li>{{ r }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if researcher.pure_url %}
        <p class="kings-header"><a href="{{ researcher.pure_url }}" target="_blank">King's Research Portal &rsaquo;</a></p>
        {% endif %}
      </div>

      <h3 class="kings-header">Working Themes</h3>
      <p>
        {% for s in researcher.get_themes %}
        {% ifchanged s.name %}
        <a href="/landing/themes/{{ s.short_name}}">
          <span class="kings-header">{{ s.name }} &rsaquo;</span>
        </a>
        <br>
        {% endifchanged %}
        {% endfor %}
      </p>
    </div>
  </div>
</section>
{% endblock %}
