{% extends "base.html" %}
{% load staticfiles compress %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endblock %}

{% block body %}
<section class="main">
  <div class="row">
    <div class="large-12 small-12 columns">
      <h2 class="kings-header">King's Researchers in this field</h2>
    </div>
  </div>

  <div class="row">
    {% for r in theme.get_researchers %}
    <div class="large-6 small-6 columns">
      {% spaceless %}
      <a href="/researchers/{{ r.id }}">{{ r }}</a>{% if r.department %}, {{ r.department }}{% endif %}
      {% endspaceless %}
    </div>

    {% if forloop.counter|divisibleby:"2" and not forloop.last %}
  </div><div class="row">
    {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h2 class="kings-header">{{ theme.name }} modules</h2>
    </div>
  </div>

  <div class="row">
    {% for m in theme.modules.all %}
    <div class="large-6 small-6 columns">
      <a href="/module/{{ m.id}}">{{ m.name }} &rsaquo;</a>
      {% if m.locations.all.count > 0 %}
      <img style="height:15px;" src="/static/css/images/marker-icon.png"/>
      {% endif %}

      {% if m.institutions.all.count > 0 %}
      <ul class="inline-list">
        <li><strong>Institutions:</strong></li>
        {% for i in m.institutions.all %}
        <li>
          {{ i.name }}
          {% if i.location.all.count > 0 %}
          <img style="height:15px;" src="/static/css/images/marker-icon-green.png"/>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    {% if forloop.counter|divisibleby:"2" and not forloop.last %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="large-12 small-12 columns">
      <h3 class="kings-header">Map</h3>
      <p>The pins within the map show King’s modules taking place across London. Click on each pin to learn more.</p>

      <div id="map" class="large-12 small-12 columns">&#160;</div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer_scripts %}
{% compress js %}
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script type="text/javascript">
var londonMap = L.map("map",{scrollWheelZoom :false}).setView([51.505, -0.09], 12);
var layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 19,
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(londonMap);

var greenIcon = L.icon({
  iconUrl: '/static/css/images/marker-icon-green.png',
  shadowUrl: '/static/css/images/marker-shadow.png',
});

var locGroup =  L.markerClusterGroup()

{% for m in theme.modules.all %}
{% for l in m.locations.all %}
L.marker( {{ l.transform }} )
.bindPopup("<h2 class='kings-header'><a href='/module/{{ m.id }}'>{{ m.name }}</a></h2>" +
           "<h3 class='kings-subheader'>{{ l.name }}</h3>" +
           "<p>Convened by {% for c in m.convenors.all %}{{ c }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>"
           )
.addTo(locGroup)
{% endfor %}
{% endfor %}

{% for m in theme.modules.all %}
{% for i in m.institutions.all %}
{% for l in i.location.all %}
L.marker( {{ l.transform }}, {icon:greenIcon} )
.bindPopup("<h2 class='kings-header'>{{ i.name }}</h2>" +
           "<h3 class='kings-subheader'>{{ l.name }}</h3>" +
           "<p>Module:<a href='/module/{{ m.id }}'> {{ m.name }} </a></p>"
           )
{% endfor %}
.addTo(locGroup)
{% endfor %}
locGroup.addTo(londonMap)
{% endfor %}

bounds =  locGroup.getBounds()
londonMap.fitBounds(bounds)
</script>
{% endcompress %}
{% endblock %}
